body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  background-color: blue;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
